body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


.bigDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

i {
    width: 150px;
    font-size: 40px;
    margin-left: 50px;
}

.whiteText {
    color: white;
    font-weight: bold;
}